@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;600&family=Fraunces:opsz,wght@9..144,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;600&family=Fraunces:opsz,wght@9..144,600;9..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;600&family=Fraunces:opsz,wght@9..144,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;600&family=Fraunces:opsz,wght@9..144,600;9..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;600&family=Fraunces:opsz,wght@9..144,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;600&family=Fraunces:opsz,wght@9..144,600;9..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;600&family=Fraunces:opsz,wght@9..144,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;600&family=Fraunces:opsz,wght@9..144,600;9..144,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}

html {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.5em;
  padding-top: 1em;
}
nav .menu {
  background-image: url("../../resources/images/icons/icon-hamburger.svg");
  width: 1em;
  height: 1em;
}
nav .menu ul a {
  display: none;
}
nav p {
  font-size: x-large;
}

header {
  background-image: url("/resources/images/photos/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 30em;
  color: hsl(0, 0%, 100%);
}
header .title {
  margin: 0 auto;
  width: 50%;
  margin-top: 12%;
}
header .title h1 {
  font-size: 3em;
}
header .title img {
  margin-top: 1em;
}

.descri-article {
  display: grid;
  grid-template-rows: 0.5fr;
}
.descri-article article {
  width: 80%;
  margin: 3em auto;
}
.descri-article article h2 {
  margin: 1em 0;
  font-family: "Fraunces", serif;
  line-height: 39.32px;
  font-size: xx-large;
}
.descri-article article p {
  margin: 1em 0;
  color: hsl(210, 4%, 67%);
  line-height: 30px;
}
.descri-article article a {
  color: black;
  font-family: "Fraunces", serif;
}
.descri-article article a::after {
  content: " ";
  display: block;
  background-color: hsl(7, 99%, 70%);
  border-radius: 25%;
}
.descri-article img {
  width: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.gallery img {
  width: 100%;
}

.specializing .cherry {
  background-image: url("../../resources/images/photos/image-graphic-design.jpg");
  background-position: center;
  background-size: cover;
  color: #24544c;
}
.specializing .orange {
  background-image: url("../../resources/images/photos/image-photography.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: hsl(198, 62%, 26%);
}
.specializing .card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1em;
  height: 30em;
}
.specializing article {
  margin: 0 auto;
}
.specializing article h3 {
  margin: 1em;
  font-size: xx-large;
  font-family: "Fraunces", serif;
}
.specializing article p {
  margin-bottom: 1em;
  line-height: 27px;
}

.clients img {
  border-radius: 50%;
  width: 4.5em;
}
.clients div {
  margin: 2em auto;
  width: 85%;
}
.clients h2 {
  font-size: 1.5em;
  margin: 1.5em 0;
  color: #A7AAAD;
  line-height: 19.27px;
  letter-spacing: 4px;
}
.clients article {
  margin: 2em 0;
}
.clients h4 {
  font-size: larger;
}
.clients p {
  line-height: 2em;
}
.clients .art-footer p {
  color: #A7AAAD;
  margin: 0.5em;
  line-height: 25px;
}

footer {
  background-color: #90d4c5;
}
footer h2 {
  font-size: xx-large;
  padding: 1em 0;
  color: #2d7665;
  font-family: "Fraunces", serif;
}
footer ul {
  display: flex;
  justify-content: space-evenly;
  margin: 1em;
  font-size: large;
}
footer ul a {
  color: #4a8e7f;
}
footer .contact {
  margin-top: 3em;
  height: 5em;
}
footer .contact ul {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
}

@media screen and (min-width: 1024px) {
  header nav {
    justify-content: space-between;
  }
  header nav .menu {
    background-image: none;
    display: flex;
    flex-direction: row-reverse;
  }
  header nav .menu ul {
    display: flex;
  }
  header nav .menu a {
    display: flex;
    margin: 1em;
    align-items: center;
    background-color: white;
  }
  header nav .menu .nav-contact {
    border-radius: 40%;
    color: black;
  }
  .description .art-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: start;
  }
  .description #reverse {
    display: flex;
    flex-direction: row-reverse;
  }
  .description #reverse .descri-article {
    width: 50%;
  }
  .description h2 {
    text-align: start;
  }
  .description p {
    text-align: start;
  }
  .description .btn-learn {
    display: flex;
  }
  .specializing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .clients {
    display: flex;
    flex-direction: column;
  }
  .clients .clients-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  footer .link {
    margin: 0 auto;
    width: 50%;
  }
}/*# sourceMappingURL=main.css.map */