@import '../utils/variables';

.specializing{
  
  .cherry{
    background-image: url('../resources/images/photos/image-graphic-design.jpg');
		background-position: center;
		background-size: cover;
    color: $_title-cherry;
	}
	
	.orange{
    background-image: url('../resources/images/photos/image-photography.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
    color: $_text-photography;
	}
	
	.card{
		display: flex;
		flex-direction: column;
		justify-content: end;
		padding: 1em;
		height: 30em;
	}
	
	article{
		margin: 0 auto;
		h3{
      margin: 1em;
      font-size: xx-large;
      font-family: $_fraunces;
		}
		p{
      margin-bottom: 1em;
      line-height: 27px;
		}
	}
}