.description{


  .art-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    
    text-align: start;
    
  }
  #reverse{
    display: flex;
    flex-direction: row-reverse;
    .descri-article{
      width: 50%;
    }
  }

  h2{
    text-align: start;
  }
  p{
    text-align: start;
  }
  
  .btn-learn{
    display: flex;
    .redCyan{
      &::after { 
        content: " ";
        position:relative;
        display:block;
        width: 100%;
        height:10px;
        background-color: $_Yellow;
        color: red;
        font-weight: bold;
        top: -8px;
        
      }
    }

    .yellow{
      &::after { 
        content: " ";
        position:relative;
        display:block;
        width: 100%;
        height:10px;
        background-color: $_softRed;
        color: red;
        font-weight: bold;
        top: -8px;
      }
    }
  }
}