@keyframes ArrowRotate {
  from {rotate: (0deg);}
  to {rotate: (360deg);}
}

@keyframes ArrowTranslate{
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(2em);
  }
}

@keyframes animationArrow{
  from{
    animation: ArrowRotate 1500ms;
  }
  to{
    animation: ArrowTranslate 1500ms 1500ms;
  }
}

header{
  height: 20%;
  nav{
    justify-content: space-between;


    p{
      padding-top: 4em;
    }
    .menu{
      background-image: none;
      display: flex;
      flex-direction: row-reverse;
      
      ul{
        display: flex;
      }

      a{
        display: flex;
        margin: 1em;
        padding: 1em;
        border-radius: 2em;
        &:hover{
          background-color: rgba(255, 255, 255, 0.158);
          transition-duration: 500ms;
          
          color: white;
        }
        
      }
      
      .nav-contact{
        
        background-color: white;
        border-radius: 2em;
        color: black;
        height: 100%;


      }
    }
  }

  .title{
    padding-bottom: 6em;
    
    img{
      &:hover{
        // animation: rotation 2s infinite linear;
         animation-name: animationArrow;
         animation-duration: 1500ms;

      }

    }
    
  }

}