$_white: hsl(0, 0%, 100%);
$_background-footer: #90d4c5;
$_title-footer:#2d7665;
$_title-cherry:#24544c;
$_p-cherry:hsl(167, 40%, 24%);
$_text-photography: hsl(198, 62%, 26%);
$_client-transpar: #A7AAAD;
$_softRed: hsl(7, 99%, 70%);
$_Yellow: hsl(51, 100%, 49%);
$_grayBlue: hsl(210, 4%, 67%);